

body {
    background-color: black;
    color: white;
    font-family: 'B612 Mono', monospace;
}


video {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: bold;
}

a:hover {
    color: white;
    text-decoration: bold;
}

a.icon:hover {
    font-size: 1.1em;
}

hr {
    background-color: white;
}

#hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 1)), url("media/Aarush.jpg") top right / cover no-repeat, linear-gradient(rgb(0,0,0) 0%, black);
    font-family: 'B612 Mono', monospace;
}


#name-div {
    margin-left: 2rem;
    font-size: 5rem;
    width: 12.5ch;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    font-size: 5rem;
}

@media only screen and (min-width: 750px) {
    #name {
        animation: type 1.5s steps(12), blink 1s step-end infinite;
        animation-delay: 0s, 1.5s;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        border-right: 1px solid white;
    }
}

@media only screen and (max-width: 400px) {
    #name {
        font-size: 4rem;
    }
}

@keyframes type {
    from {
        width: 0.5ch;
    }
}

@keyframes blink {    
    50% {    
        border-color: transparent;
    }    
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.2rem;
}

#mhs {
    margin-bottom: 3rem;
    padding-left: 2rem;
}

#intro {
    margin: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.project {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 1rem;
}
.project:hover {
    animation: enlarge-border 0.1s;
    border-width: 5px;
    border-color: white;
}
@keyframes enlarge-border {
    from {
        border-width: 1px;
        border-color: gray;
    }
    to {
        border-width: 5px;
        border-color: white;
    }
}

.link-col {
    padding-top: 3.5rem;
}

.link-img {
    height: 2em;
}
